.productSection {
  padding: 40px 0;
  /* position: absolute; */
  display: grid;
  grid-template-columns: auto;
}

.productSection h2 {
  font-size: 44px;
  margin: 10px 0px;
}

.productCarousel{
  overflow: hidden;
  width: 100%;
}

.productTrack{
  display: flex;
  gap:  2rem;
  animation: scroll 30s linear infinite;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */

.leguesSection img{
    margin: 40px 0;
    width: 100%;
    /* position: absolute; */
}



.leguesSection h2 {
  font-size: 44px;
  margin: 10px 0px;
}

.leguesSection p{
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    margin-top: -20px;
}

.leaguesDisplay {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
}

.otherCollectionsSection{
  padding: 40px 0;
}

.otherCollectionsSection h2{
  font-size: 44px;
  margin: 10px 0px;
}

.collectionImage{
  position: relative;
}

.collectionLabel{
  display: flex;
  /* position: absolute; */
  justify-content: space-between;
}