.heroWrapper{
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  width: 100%;
  position: relative;
}

.heroImage{
  height: 650px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.heroText{
  position: absolute;
  top: 50px;
  margin: 40px;
  color: white;
  font-size: 30px
}

.heroText span{
  color: #FADD18;
}

.heroBtns{
  position: absolute;
  width: 96%;
  top: 540px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px;


}

.heroNavBtn {
  border-bottom: 4px solid #f3e4e4;
  display: inline-block;
  margin-left: 8px;
  padding: 10px;
  width: 80px; 
  height: 4px;
  cursor: pointer;
}

.active{
  border-bottom: 4px solid #FADD18;
}

.heroShopBtn{
width: 10%;
height: 42px;
color: white;
border: 1px solid white;
display: flex;

}

.heroCards{
  background-color: white;
  padding-top: 60px;
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
  
  
}

.heroCard{
  width: 400px;
  height: 180px;
  background-color: #FEFAE1;
  padding: 40px;
  color: black;

}

.cuboid {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fadd18; /* front face */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* left face */
.cuboid::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px; 
  width: 40px;
  height: 50px;
  background: #dab90166;
  transform: skewY(45deg);
  transform-origin: right;
}

/* top face */
.cuboid::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 50px;
  height: 40px;
  background: #e7d46666;
  transform: skewX(45deg);
  transform-origin: bottom;
}

.cardText{
  padding: 14px 0;
}

.cardText h3{
  margin-bottom: 4px;
}

