.productSection {
  padding: 8rem 0;
}

.productHeadingAndButtons {
  margin: 3rem 0;
}

.productHeadingAndButtons h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.productHeadingAndButtons button {
  border: 1px solid rgb(224, 224, 224);
  outline: none;
  background: none;
  cursor: pointer;
  /* background-color: #fadd18; */
  padding: 1rem;
  margin: 0.25rem;
}

.productCarousel {
  overflow: hidden;
  width: 100%;
}

.productTrack {
  display: flex;
  gap: 2rem;
  /* transition: transform 0.5s ease; */
}

@media screen and (max-width: 40rem) {
  .productSection {
    padding: 10rem 1rem;
  }

  .productHeadingAndButtons {
    margin: 1rem 0;
    display: flex;
  }

  .productHeadingAndButtons h2 {
    font-size: 1.4rem;
    width: 60%;
  }

  .productHeadingAndButtons button {
    padding: 0.5rem;

  }

  .productCarousel {
    overflow: hidden;
    width: 100%;
  }

  .productTrack {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
  }
}
