.wrapper{
    display: flex;
    gap: 4rem;
}

.thumbnails {
  display: flex;
  gap: 0.5rem;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  opacity: 0.6;
  transition: transform 0.2s;

}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail.active {
    opacity: 1;
}